
@font-face {
    font-family: "SegoeUIVariable";
    font-weight: 300;
    src: url("../fonts/Segoe-UI-Variable-Static-Text-Light.ttf");
}
@font-face {
    font-family: "SegoeUIVariable";
    font-weight: 400;
    src: url("../fonts/Segoe-UI-Variable-Static-Text.ttf");
}
@font-face {
    font-family: "SegoeUIVariable";
    font-weight: 600;
    src: url("../fonts/Segoe-UI-Variable-Static-Text-Semibold.ttf");
}
@font-face {
    font-family: "SegoeUIVariable";
    font-weight: 700;
    src: url("../fonts/Segoe-UI-Variable-Static-Text-Bold.ttf");
}
@font-face {
    font-family: "Raleway";
    src: url("../fonts/Raleway-VariableFont_wght.ttf");
}
@font-face {
    font-family: "Raleway";
    font-style: italic;
    src: url("../fonts/Raleway-Italic-VariableFont_wght.ttf");
}
@font-face {
    font-family: "SegoeUIVariable";
    font-weight: 600;
    src: url("../fonts/Segoe-UI-Variable-Static-Text-Semibold.ttf");
}
@font-face {
    font-family: "Classico";
    src: url("../fonts/Classico.otf");
}
@font-face {
    font-family: "Classico";
    font-weight: 700;
    src: url("../fonts/Classico-Bold.otf");
}